*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }
  
  :root{
    --primary-clr: #68a12a;
    --primary-light: #83c13b;
    --primary-drk: #5e871b;
    --text-clr: #182c2d;
    --bright-clr: #e0ecf2;
    --secondary-clr: #4b737d;
  }